* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --dark: #202020;
  --white: #ffffff;
  --white-dark: #e8e8e8;
  --gray: #a2a2a2;
  --gray-light: #f7f7f7;
  --gray-dark: #898989;
  --gold: #fed155;
  --purple: #cb11ab;
  --purple-dark: #a30f8b;
  --transition: all 0.15s ease-in-out;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background: var(--gray-light);
}

a {
  text-decoration: none;
  color: inherit;
}

svg path {
  transition: var(--transition);
}

.container {
  max-width: 1500px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* product */
.product {
  padding: 60px 0;
}

.product__video {
  object-fit: contain;
}

.product__heading {
  margin-bottom: 30px;
}

.product__title {
  margin-bottom: 5px;
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.product__slider-wrapper {
  grid-area: 1 / 1 / 3 / 2;
}
.product__properties {
  grid-area: 1 / 2 / 2 / 3;
}
.product__description {
  grid-area: 2 / 2 / 3 / 3;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}

.product__heading-metrics {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--gray);
}

.product__metrics-rating,
.product__metrics-sales {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.product__metrics-sales {
  gap: 1px;
}

.product__metrics-rating svg {
  width: 18px;
  height: 18px;
}

.product__metrics-rating svg path {
  fill: var(--gold);
}

.product__metrics-rating:hover {
  color: var(--gray-dark);
}

.product__metrics-sales svg path {
  fill: var(--gray);
}

.product__slider-wrapper {
  position: relative;
  width: 500px;
  height: 533px;
  padding: 0 50px;
}

.product__slider-slide img {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.reviews__slider-prev,
.reviews__slider-next,
.product__slider-prev,
.product__slider-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.reviews__slider-prev svg path,
.reviews__slider-next svg path,
.product__slider-prev svg path,
.product__slider-next svg path {
  fill: var(--white);
}

.reviews__slider-prev:hover,
.reviews__slider-next:hover,
.product__slider-prev:hover,
.product__slider-next:hover {
  background: var(--purple-dark);
}
.reviews__slider-prev,
.product__slider-prev {
  left: 0;
}

.reviews__slider-next,
.product__slider-next {
  right: 0;
}

.product__slider {
  height: 533px;
  border-radius: 10px;
  box-shadow: 4px 4px 9px rgba(18, 17, 17, 0.11);
}

.product__properties-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.product__properties-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.product__properties-title,
.product__description-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.product__properties-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
}

.product__properties-list span {
  color: var(--gray-dark);
  font-weight: 600;
}

.product__properties-list svg path {
  fill: var(--gray-dark);
}

.product__properties-buy {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--white);
  box-shadow: 4px 4px 9px rgba(18, 17, 17, 0.11);
}

.product__buy-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 20px;
}

.product__buy-price span {
  font-size: 16px;
  color: var(--gray-dark);
}

.product__buy-order {
  padding: 10px 30px;
  background: var(--purple);
  color: var(--white);
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.product__buy-order:hover {
  background: var(--purple-dark);
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product__description-text {
  max-width: 800px;
  width: 100%;
  line-height: 1.5;
}

/* reviews */

.reviews {
  padding-bottom: 60px;
}

.reviews__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  color: var(--dark);
}

.reviews__title span {
  color: var(--gray-dark);
}

.reviews__title svg {
  margin-right: 5px;
}

.reviews__title svg path {
  fill: var(--gray-dark);
}

.reviews__slider-wrapper {
  width: 1320px;
  padding: 0 50px;
  margin: 0 auto;
  position: relative;
}

.reviews__slider-slide img {
  width: 600px;
  height: 400px;
  box-shadow: 4px 4px 9px rgba(18, 17, 17, 0.11);
  border-radius: 10px;
  object-fit: cover;
}

/* offer */
.offer {
  padding: 60px 0 120px 0;
}

.offer__wrapper {
  max-width: 700px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: var(--purple);
  border-radius: 12px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.offer__title {
  font-size: 36px;
}

.offer__link {
  padding: 10px 30px;
  background: var(--white);
  color: var(--purple);
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: var(--transition);
}

.offer__link:hover {
  background: var(--white-dark);
  color: var(--purple-dark);
}

/* media */
@media screen and (max-width: 1360px) {
  .reviews__slider-wrapper {
    width: 1120px;
  }

  .reviews__slider-slide img {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 1230px) {
  .product__title,
  .reviews__title,
  .offer__title {
    font-size: 32px;
  }

  .product__slider-slide img,
  .product__video {
    width: 350px;
  }

  .product__video iframe {
    width: 350px;
    height: 466px;
  }

  .product__slider-wrapper {
    width: 450px;
    height: 466px;
  }

  .product__slider {
    width: 350px;
    height: auto;
    max-height: 466px;
  }

  .product__wrapper {
    gap: 30px;
  }

  .product__properties-wrapper {
    gap: 30px;
  }
}

@media screen and (max-width: 1160px) {
  .reviews__slider-wrapper {
    width: 920px;
  }

  .reviews__slider-slide img {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 1130px) {
  .product__slider {
    width: 350px;
    height: auto;
    max-height: 466px;
  }

  .product__wrapper {
    gap: 60px;
  }

  .product__properties-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .product__slider-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .product__properties {
    grid-area: 1 / 2 / 2 / 3;
  }
  .product__description {
    grid-area: 2 / 1 / 3 / 3;
  }

  .product__description-text {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .reviews__slider-wrapper {
    width: 700px;
  }

  .reviews__slider-slide img {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .product__title,
  .reviews__title,
  .offer__title {
    font-size: 28px;
  }

  .reviews__title svg {
    width: 20px;
    height: 20px;
  }

  .reviews__title span {
    display: inline-flex;
    align-items: center;
  }

  .product__properties,
  .product__description-text {
    font-size: 14px;
  }

  .product__slider-slide img,
  .product__video {
    width: 300px;
  }

  .product__video iframe {
    width: 300px;
    height: 400px;
  }

  .product__slider-wrapper {
    width: 400px;
    height: 400px;
  }

  .product__slider {
    width: 300px;
    height: auto;
    max-height: 400px;
  }

  .product__wrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__properties-wrapper {
    gap: 30px;
    flex-direction: row;
  }

  .product__properties-buy {
    width: 230px;
  }

  .offer {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .offer__wrapper {
    padding: 40px;
    max-width: 500px;
  }
}

@media screen and (max-width: 740px) {
  .reviews__slider-wrapper {
    width: 600px;
  }

  .reviews__slider-slide img {
    width: 500px;
    height: auto;
  }

  .reviews {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 710px) {
  .product__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .product__properties {
    align-self: center;
  }

  .product__properties-wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .product__properties-buy {
    width: 250px;
  }

  .product__slider-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .reviews__slider-wrapper {
    width: 500px;
  }

  .reviews__slider-slide img {
    width: 400px;
    height: auto;
  }

  .offer__wrapper {
    max-width: 400px;
    padding: 30px;
    gap: 10px;
  }

  .offer {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 590px) {
  .product__properties-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .product__properties-title {
    text-align: center;
  }

  .product__properties {
    align-self: center;
  }

  .product__title,
  .reviews__title,
  .offer__title {
    font-size: 24px;
  }

  .product__slider-slide img,
  .product__video {
    width: 250px;
  }

  .product__video iframe {
    width: 250px;
    height: 333px;
  }

  .product__slider-wrapper {
    width: 350px;
    height: 333px;
  }

  .product__slider {
    width: 250px;
    height: auto;
    max-height: 333px;
  }

  .product__properties-buy {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .reviews__slider-wrapper {
    width: 410px;
    padding: 0;
    padding-bottom: 60px;
  }

  .reviews__slider-slide img {
    width: 400px;
    height: auto;
  }

  .reviews__slider-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .reviews__slider-next,
  .reviews__slider-prev {
    position: static;
  }

  .offer__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .product__heading {
    font-size: 14px;
  }

  .offer__wrapper {
    border-radius: 8px;
  }

  .product {
    padding: 30px 0;
  }

  .reviews__slider-wrapper {
    width: 355px;
    padding: 0;
    padding-bottom: 60px;
  }

  .reviews__slider-slide img {
    width: 345px;
    height: auto;
  }
}

@media screen and (max-width: 410px) {
  .product__heading-metrics {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .product__wrapper {
    gap: 20px;
  }

  .product__slider-slide img,
  .product__video {
    width: 200px;
  }

  .product__video iframe {
    width: 200px;
    height: 266px;
  }

  .product__slider-wrapper {
    width: 300px;
    height: 266px;
  }

  .product__slider {
    width: 200px;
    height: auto;
    max-height: 266px;
  }

  .container {
    padding: 0 10px;
  }

  .product__properties-buy {
    width: 250px;
  }

  .product__properties {
    width: calc(100vw - 20px);
    align-self: flex-start;
  }

  .product__properties-title {
    text-align: left;
  }

  .product__properties-wrapper {
    align-items: flex-start;
  }
}

@media screen and (max-width: 370px) {
  .reviews__slider-wrapper {
    width: 300px;
    padding-bottom: 60px;
  }

  .reviews__slider-slide img {
    width: 290px;
    height: auto;
  }
}

@media screen and (max-width: 340px) {
  .product__title,
  .reviews__title,
  .offer__title {
    font-size: 20px;
  }

  .product__slider-slide img,
  .product__video {
    width: 170px;
  }

  .product__video iframe {
    width: 170px;
    height: 226px;
  }

  .product__slider-wrapper {
    width: 270px;
    height: 226px;
  }

  .product__slider {
    width: 170px;
    height: auto;
    max-height: 226px;
  }
}
